* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3 {
  color: rgb(34, 34, 34);
}

h3,
h4 {
  font-weight: 400;
  color: rgb(92, 92, 92);
}

.App {
  transition: all 0.5s ease;
}

.library-active {
  margin-left: 25%;
}

@import './song';
@import './player';
@import './library';
@import './nav';
